.feedback {
    background-color : #4dc247;
    color: white;
    margin: 20px;
    padding: 10px;
    border-width: 0px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: -4px;
    right: 10px;
  }
@media screen and (min-width:768px) {
    .icon  {
        font-size: 28px;
        margin-right: -10px;
        margin-left:-10px;
    }
}
/* .text-class {
    margin-left: -10px;
} */
  @media screen and (max-width:767px) {
      .text-class{
          display: none;
      }
      .icon{
        width: 30px;
        margin:0;
      }
      .feedback {
          padding: 10px 5px 10px 5px;
          border-radius: 450px;
      }
  }
  