.why-container{
    /* background-color: #333232; */
    border-radius: 50px;
    margin: 0px 50px 0px;
    padding: 90px 50px 0px;
    /* margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 0px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* color: silver; */
}
.why-car-img{
    height: 300px;
    width: 500px;
    margin-right: 60px;
    border-radius: 20px;
    order:1;
}
.why-content{
    order:2;
}
.container-1{
    display: flex;
}
.wcu-heading  {
    font-family: "Poppins SemiBold";
    font-weight: 700;
    color: black;
    font-size: 32px;
    margin-bottom: 20px;
}
.wcu-description  {
    font-family: "Arial";
    font-size: 18px;
    color: black;
}
@media all and (max-width: 768px) {
    .why-container{
    flex-direction: column;
    margin: 0px;
    padding:20px;
        /* justify-content:center;
    align-items: center; */
    /* padding: 0px; */
    }

    .why-car-img{
        height: 50vh;
        width: 100%;
        order:0
    }

   .why-content{
       order:1
   }
}

