
.navbar  {
  position: sticky;
  top: 0;
  z-index: 9999;
  /* z-index: 100; */
  background-color: rgb(28, 28, 36);
  /* background-color: #242323; */
}
.power-navbar{
  /* position: sticky; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px; 
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 0.15s;
}

.logo {
    width: 250px;
    height: 90px;
    margin-left: 20px;
}

.nav-list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 25px;
  user-select: none;
  pointer-events: none;
}
.nav-list-1 .list-item-1  {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  pointer-events: all;
}
.list-item{
  /* margin: 10px; */
  text-decoration: none;
  color:silver;
  font-size: 20px;
}
.list-item::before  {
  position: absolute;
  content:"";
  width: 0;
  background: rgb(118,168,0);
  height: 4px;
  left: 50%;
  bottom: -8px;
  border-radius: 5px;
}
.list-item-1:hover .list-item::before {
  width: 100%;
  left:0;
  transition: .2s all;
}
.list-item {
  color: whitesmoke;
  text-decoration: none;
  transition: .2s;
  font-size: 20px;
}
.nav-list-1:hover .list-item  {
  color: rgb(211, 211,211);
}
.nav-list-1:hover .list-item:hover {
  color: rgb(118,168,0);
}
.mobile-nav{
  display: none;
}
.form-btn  {
  background-color: #19d95e;
  color:  black;
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 6px;
  border-width: 0px;
  padding: 5px;

}
@media screen and (max-width:760px) {
  .mobile-nav{
    display: block;
    padding:0px;
  }
  .power-navbar{
    display: none;
  }
  .mobile-nav-padding{
    padding: 0;
  }
  .mobile-list-item{
    color:silver;
  }
  .mobile-nav-container{
    padding:0px;
  }
  
}