.home-container{
    /* background-color: #333232; */
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
}

.home-car-img{
    height: 30vh;
    width: 40vw;
    border-radius: 20px;
}

.content-class{
    margin-left: 60px;
    /* color: silver; */
}

@media all and (max-width: 480px) {
    .home-container{
    flex-direction: column;
    margin: 0px;
    padding:20px;
    /* justify-content:center;
    align-items: center; */
    /* padding: 0px; */
    }

    .home-car-img{
        height: 50vh;
        width: 100%;
    }

    .content-class{
        margin: 0;
    }
}