.about-container{
    /* background-color: #333232; */
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    /* color: silver; */
}

.about-car-img-1{
    height: 30vh;
    width: 60vw;
    order: 1;
    border-radius: 20px;
}

.about-car-img-2{
    height: 30vh;
    width: 60vw;
    order: 0;
    border-radius: 20px;

}

.content-class-1{
    margin-right: 60px;
    order:1;
    /* color: silver; */
}

.content-class-2{
    margin-left: 60px;
    order:0;
    /* color: silver; */
}

.container-1{
    display: flex;
}
.container-2{
    display: flex;
    margin-top: 50px;
}

@media all and (max-width: 480px) {
    .about-container{
    flex-direction: column;
    margin: 0px;
    padding:20px;
    justify-content:center;
    align-items: center;
    /* padding: 0px; */
    }

    .container-1{
        display: flex;
        flex-direction: column;
    }
    .container-2{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .about-car-img-1{
        height: 50vh;
        width: 100%;
        order: 0;
    }
    
    .about-car-img-2{
        height: 50vh;
        width: 100%;
        order: 0;
    }

    .content-class-1{
        margin-right: 0px;
        order:1;
    }
    
    .content-class-2{
        margin-left: 0px;
        order:0;
    }
}