
.testimonial-card  {
    height: 250px;
    width: 350px;
    /* background-color: #19d95e; */
    background-color: #9ccd62;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding:20px;
    margin:20px;
    /* padding-left: 0px; */
    margin-left:80px;
}
.testimonials{
    padding: 10px;
    
}
.react-multiple-carousel__arrow--left {
    left: calc(2% + 1px);
}
.react-multiple-carousel__arrow--right {
    right: calc(2% + 1px);
}
/* .testimonials-c3{
    margin-left: 40px;
} */
@media screen and (max-width: 767px){
   .testimonial-card  {
       
       margin-left: 10vw;
       width: 80vw;
   } 
   .testimonial-title {
       font-size: 26px;
   }  
   .testimonials{
    padding-left: 30px;
    
}
.react-multiple-carousel__arrow {
    /* display: none; */
    padding: 4px;
    min-width: 0px;
    min-height:none ;
}
}
.testimonial-title  {
    font-family: "Poppins SemiBold";
    text-align: center;
    font-weight: 700;
    color: black;
    font-size: 36px;
}
.test-tagline  {
    font-family: "Poppins SemiBold";
    text-align: center;
    font-size: 18px;
}
.test-desc  {
    font-family: "arial";
    font-style: italic;
    font-size: 18px;
    color: black;
}
.stars-container {
    display: inline;
}
.test-name {
    color: black;
    font-family: "arial";
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}
.test-loc  {
    color: black;
    font-family: "arial";
    font-size: 18px;
    text-align: right;
}
.quote-start{
   margin-right: 10px;
   color: orange;
}
.quote-end {
    margin-left: 10px;
    color: orange;
}
.stars  {
    color: orange;
}