.how-container{
    /* background-color: #333232; */
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    /* font-family: "bree serif"; */
    /* color: silver; */
}
.how-car-img{
    height: 40vh;
    width: 60vw;
    border-radius: 20px;
}

.container-1{
    display: flex;
}

.how-content{
    margin-right: 50px;
}

.number{
    color: #7a7b7d;
}
.num-card{
    background-color: transparent;
    border: 2px solid #7a7b7d;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 100px;
}

@media all and (max-width: 768px) {
    .how-container{
    flex-direction: column;
    margin: 0px;
    padding:20px;
    /* justify-content:center;
    align-items: center; */
    /* padding: 0px; */
    }

    .how-car-img{
        height: 50vh;
        width: 100%;
        order:0
    }

   .how-content{
       order:1
   }
}
.list-conatiner {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.lst-item  {
    display: flex;
    width: 40%;
}
@media screen and (max-width: 767px)  {
    .lst-item  {
        width: 90%;
    }
}
.lst-right{
    margin-left: 100px;
}
.number-img  {
    width: 80px;
}
@media  screen and (max-width: 767px) {
    .number-img  {
        width: 40px;
        height: 80px;
    }
    .lst-right{
        margin-left: 0px;
    }
}
.heading-hw  {
    font-family: "Lucy Rose";
    font-weight: 700;
    color: black;
    font-size: 32px;
    margin-bottom: 15px;
}
.description-hw  {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    color: black;
    align-self: center;
}

