.how-container{
    /* background-color: #333232; */
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* font-family: "bree serif"; */
    /* color: silver; */
}
.how-car-img{
    height: 40vh;
    width: 60vw;
    border-radius: 20px;
}

.container-1{
    display: flex;
}

.how-content{
    margin-right: 50px;
}

@media all and (max-width: 480px) {
    .how-container{
    flex-direction: column;
    margin: 0px;
    padding:20px;
    /* justify-content:center;
    align-items: center; */
    /* padding: 0px; */
    }

    .how-car-img{
        height: 50vh;
        width: 100%;
        order:0
    }

   .how-content{
       order:1
   }
}