.how-container{
    /* background-color: #333232; */
    border-radius: 50px;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* font-family: "bree serif"; */
    /* color: silver; */
}
.how-car-img{
    height: 40vh;
    width: 60vw;
    border-radius: 20px;
}

.container-1{
    display: flex;
}

.how-content{
    margin-right: 50px;
}

@media all and (max-width: 480px) {
    .how-container{
    flex-direction: column;
    margin: 0px;
    padding:20px;
    /* justify-content:center;
    align-items: center; */
    /* padding: 0px; */
    }

    .how-car-img{
        height: 50vh;
        width: 100%;
        order:0
    }

   .how-content{
       order:1
   }
}
.list-conatiner {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.lst-item  {
    display: flex;
    width: 40%;
}
@media screen and (max-width: 767px)  {
    .lst-item  {
        width: 90%;
    }
}
.number-img  {
    width: 80px;
}
@media  screen and (max-width: 767px) {
    .number-img  {
        width: 40px;
        height: 80px;
    }
}
.description  {
    font-family: "open sans";
    font-size: 20px;
    font-weight: 500;
    color: black;
    align-self: center;
}