.terms-and-conditions-container {
    padding: 20px;
    /* background-color: rgb(253, 250, 239); */
    /* height: 80vh; */
}
.t-and-c-heading {
    font-family: "Poppins SemiBold";
    font-size: 20px;
    /* text-align: center; */
    font-weight: bold;
    
}

.t-and-c-description {
    /* font-family: "Poppins SemiBold"; */
    font-family: "Roboto";
    font-size: 20px;
    
}