.privacy-container {
    padding: 20px;
}
.privacy-heading {
    font-family: "Poppins SemiBold";
    font-weight: bold;
    font-size: 20px;
}
.privacy-description {
    /* font-family: "Poppins SemiBold"; */
    font-family: "Roboto";
    font-size: 20px;
}
/* .main-heading{
    font-size: 34px;
} */