.footer-container  {
    background-color: #272727;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-footer  {
    width: 70px;
    margin: 10px;
}
.address {
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
}
.icons-container {
    display: flex;
    padding: 10px;
}
.icon  {
    color: #fffff4;
    width: 60px;
}
